<a href="https://colab.research.google.com/github/mrafiuddin50/Myocardial-Infarction-Complications/blob/main/mic_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
!wget https://leicester.figshare.com/ndownloader/files/23581310

--2021-07-31 04:32:14--  https://leicester.figshare.com/ndownloader/files/23581310
Resolving leicester.figshare.com (leicester.figshare.com)... 54.76.53.16, 52.17.135.168, 2a05:d018:1f4:d000:b722:7781:9f3a:2b1d, ...
Connecting to leicester.figshare.com (leicester.figshare.com)|54.76.53.16|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://s3-eu-west-1.amazonaws.com/pstorage-leicester-213265548798/23581310/MyocardialinfarctioncomplicationsDatabase.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=10&X-Amz-SignedHeaders=host&X-Amz-Signature=6502f86ce286b1a1c5a7e0ec3b50200df4428930686e8bcaf26448608050b50c&X-Amz-Date=20210731T043215Z&X-Amz-Credential=AKIAILQQVTTAWSUNAFFA/20210731/eu-west-1/s3/aws4_request [following]
--2021-07-31 04:32:15--  https://s3-eu-west-1.amazonaws.com/pstorage-leicester-213265548798/23581310/MyocardialinfarctioncomplicationsDatabase.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=10&X-Amz-SignedHeaders=host&X-Amz-Signature=6502f86ce286b1a1c5a7e0ec3b50200df4428930686e8bcaf26448608050b50c&X-Amz-Date=20210731T043215Z&X-Amz-Credential=AKIAILQQVTTAWSUNAFFA/20210731/eu-west-1/s3/aws4_request
Resolving s3-eu-west-1.amazonaws.com (s3-eu-west-1.amazonaws.com)... 52.218.106.187
Connecting to s3-eu-west-1.amazonaws.com (s3-eu-west-1.amazonaws.com)|52.218.106.187|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 437563 (427K) [text/csv]
Saving to: ‘23581310’

23581310            100%[===================>] 427.31K   583KB/s    in 0.7s

2021-07-31 04:32:17 (583 KB/s) - ‘23581310’ saved [437563/437563]

In [10]:
import pandas as pd
import numpy as np

df = pd.read_csv('23581310')

In [11]:
df.head()

   ID   AGE  SEX  INF_ANAM  STENOK_AN  ...  DRESSLER  ZSN  REC_IM  P_IM_STEN  LET_IS
0   1  77.0    1       2.0        1.0  ...         0    0       0          0       0
1   2  55.0    1       1.0        0.0  ...         0    0       0          0       0
2   3  52.0    1       0.0        0.0  ...         0    0       0          0       0
3   4  68.0    0       0.0        0.0  ...         0    1       0          0       0
4   5  60.0    1       0.0        0.0  ...         0    0       0          0       0

[5 rows x 124 columns]

In [12]:
df.isna().sum()

ID             0
AGE            8
SEX            0
INF_ANAM       4
STENOK_AN    106
            ...
DRESSLER       0
ZSN            0
REC_IM         0
P_IM_STEN      0
LET_IS         0
Length: 124, dtype: int64

In [20]:
df.iloc[54,112:123]

FIBR_PREDS    0.0
PREDS_TAH     0.0
JELUD_TAH     0.0
FIBR_JELUD    0.0
A_V_BLOK      0.0
OTEK_LANC     1.0
RAZRIV        0.0
DRESSLER      0.0
ZSN           1.0
REC_IM        0.0
P_IM_STEN     0.0
Name: 54, dtype: float64